#loading {
  border: 5px solid transparent;
  border-right: 5px solid var(--primary-color);
  animation: anime-loading 0.5s infinite linear;
  -webkit-animation: anime-loading 0.5s infinite linear;
}

.overlay {
  @apply fixed top-0 left-0 h-screen w-screen z-50 flex items-center justify-center backdrop-blur-[1px] bg-black bg-opacity-20;
  
}

@keyframes anime-loading {
  from {
    transform: initial;
}
  to {
    transform: rotate(360deg);
  }
}
