@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fb1;
}

* {
  @apply font-first text-gray-800;
}

*:focus {
  outline: none;
}

body,
#root {
  @apply w-full flex flex-col items-center justify-between min-h-[101vh];
}

#root {
  @apply pt-14;
}

.supress-scroll {
  height: 101vh;
  overflow-y: hidden;
}

label {
  display: inline-block;
}

input {
  @apply block rounded placeholder:text-gray-500 text-base py-3 px-4 w-full outline-none bg-gray-200 border hover:border-primary focus:border-primary transition-all;
}

input[type="file"] {
  cursor: pointer;
}

input:focus,
input:hover {
  box-shadow: 0px 0px 5px 3px rgba(255, 188, 17, 0.487);
  background-color: #fff;
}

input.invalid {
  @apply border-red-400 shadow-none bg-transparent;
}

button,
.button {
  @apply bg-primary transition-all py-2 px-4 rounded text-white w-fit;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

div.login,
.content {
  min-height: calc(100vh - 56px);
  width: 100%;
}

.title {
  @apply font-serif relative font-bold z-10;
}

.title::before {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 3px;
  left: -5px;
  z-index: -1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

h2.cadastre::after {
  content: "";
  display: block;
  height: 0.4rem;
  width: 3rem;
  background-color: rgb(209 213 219);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.anime-fade-left {
  transform: translateX(-50px);
  opacity: 0;
  animation: anime-fade-left 0.5s forwards;
  z-index: 1;
}

@keyframes anime-fade-left {
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}
